#
# OkORF exec conf
#

project: n12740_Dpul
#project: test

transcript_file: Trinity_Dpul_130926dn.fa
#transcript_file: test.fa

num_top_longORFs_for_train: 500

blastdb_train: /home/DB/local/arth_refseq7_90/arth_refseq7.cdhit90.pep

pep_min_len: 50  #aa
len_retain_long_orfs: 900 #bp

libdir: ./OkORF
ncpu: 8

